#Table {
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;

    .table-responsive-lg {
        &::-webkit-scrollbar {
            height: 4px;
        }

        &::-webkit-scrollbar-track {
            background-color: #eee;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #8446ff;
            border-radius: 10px;
        }

    }

    .table {
        width: 100% !important;
        margin-bottom: 2px;
        *{
            font-weight: 500;
            color: rgb(87, 87, 87);
        }
        button{
            background: #8446ff;
            border-radius: 100px;
            color: white;
            width: 100%;
            font-weight: 500;
        }
    }

    .totalPrice {

        h4,
        p {
            color: #270076;
            font-weight: 600;
        }
        h4{
            font-size: 22px;
        }
        p{
            font-size: 18px;
        }
    }

}

@media (max-width: 768px) {
    #Table {
        padding-left: 0;
        padding-right: 0;

        .table .th {
            width: 300px !important;
        }
    }
}